In [31]:
import AzureZillowBlobLoader as abl
import calendar
import datetime

## Load data

In [33]:
df_prop, df_train, df_smpl_submission = abl.load_zillow_src_data()

properties_2016.csv downloaded in 26.1560218334198

/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:1: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  if __name__ == '__main__':

train_2016_v2.csv downloaded in 0.31256699562072754
sample_submission.csv downloaded in 2.973951578140259

## First view

In [34]:
print(df_smpl_submission.shape)
print(df_smpl_submission.head())
print(df_train.shape)
print(df_train.head())
print(df_prop.shape)
print(df_prop.head())

(2985217, 7)
   ParcelId  201610  201611  201612  201710  201711  201712
0  10754147       0       0       0       0       0       0
1  10759547       0       0       0       0       0       0
2  10843547       0       0       0       0       0       0
3  10859147       0       0       0       0       0       0
4  10879947       0       0       0       0       0       0
(90275, 3)
   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02
(2985217, 58)
   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  10754147                    NaN                       NaN           NaN
1  10759547                    NaN                       NaN           NaN
2  10843547                    NaN                       NaN           NaN
3  10859147                    NaN                       NaN           NaN
4  10879947                    NaN                       NaN           NaN

   bathroomcnt  bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
0          0.0         0.0                  NaN                    NaN
1          0.0         0.0                  NaN                    NaN
2          0.0         0.0                  NaN                    NaN
3          0.0         0.0                  3.0                    7.0
4          0.0         0.0                  4.0                    NaN

   calculatedbathnbr  decktypeid         ...           numberofstories  \
0                NaN         NaN         ...                       NaN
1                NaN         NaN         ...                       NaN
2                NaN         NaN         ...                       NaN
3                NaN         NaN         ...                       1.0
4                NaN         NaN         ...                       NaN

   fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
0            NaN                         NaN                9.0
1            NaN                         NaN            27516.0
2            NaN                    650756.0          1413387.0
3            NaN                    571346.0          1156834.0
4            NaN                    193796.0           433491.0

   assessmentyear  landtaxvaluedollarcnt  taxamount  taxdelinquencyflag  \
0          2015.0                    9.0        NaN                 NaN
1          2015.0                27516.0        NaN                 NaN
2          2015.0               762631.0   20800.37                 NaN
3          2015.0               585488.0   14557.57                 NaN
4          2015.0               239695.0    5725.17                 NaN

   taxdelinquencyyear  censustractandblock
0                 NaN                  NaN
1                 NaN                  NaN
2                 NaN                  NaN
3                 NaN                  NaN
4                 NaN                  NaN

[5 rows x 58 columns]

In [35]:
cnt_sum = df_prop.groupby('parcelid').size().reset_index(name='counts')

In [36]:
cnt_sum[cnt_sum['counts'] > 1]

Empty DataFrame
Columns: [parcelid, counts]
Index: []

In [37]:
cnt_sum.head()

   parcelid  counts
0  10711725       1
1  10711726       1
2  10711727       1
3  10711728       1
4  10711729       1

# Parsing date

In [10]:
df_train['transaction_month'] = df_train['transactiondate'].dt.month
df_train['transaction_year'] = df_train['transactiondate'].dt.year

In [25]:
calendar.monthrange(df_train['transaction_year'], df_train['transaction_month'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [22]:
df_train['dt_transaction_eom'] = datetime.date(df_train['transaction_year'], df_train['transaction_month'], )

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().